webserver/apache/logs/*
!webserver/apache/logs/.gitignore
webserver/certs/*
!webserver/certs/.gitignore
webserver/mysql/data/*
!webserver/mysql/data/.gitignore
webserver/www/*
!webserver/www/.gitignore

minecraft/data/*
!minecraft/data/.gitignore

wordpress/mysql_data/*
!wordpress/mysql_data/.gitignore
wordpress/wordpress_data/*
!wordpress/wordpress_data/.gitignore

squid/conf/*
!squid/conf/.gitignore
squid/logs/*
!squid/logs/.gitignore

note.txt